<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} my title {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header">
    {% block header %}
    <h1>This is my header</h1>
    {% endblock header %}
</header>
{% block content %}
    This is default body
{% endblock content %}
<footer class="footer">
    {% block footer %}
    <h1>This is footer</h1>
    {% endblock footer %}
</footer>
</body>
</html>