<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
</head>
<body>
<div class="container">
    <div class="product">
        <h2>Product Name: {{ product_detail.name }}</h2>
        <h2>Price: {{ product_detail.price }}</h2>
        <img src="{{ product_detail.image.url }}" alt="">
        <h2>ID: {{ product_detail.id }}</h2>
        <h2>Quantity{{ product_detail.stock }}</h2>
    </div>
</div>

</body>
</html>